lumen-protocol.oxytocin.moe {
    # 1. Отдаем загруженные картинки из вики напрямую бэкенду
    reverse_proxy /static/* backend:8000

    # 2. Ловим все запросы к API, отрезаем префикс /api и кидаем в бэкенд
    handle_path /api/* {
        reverse_proxy backend:8000
    }

    # 3. Все остальные запросы (сам сайт) идут на фронт
    reverse_proxy frontend:3000
}